<!-- start about section-->
<section id="about" class="section-main section-space section-tb-border">
  <!-- start container section-->
  <div class="container">
    <!-- start row section-->
    <div class="row align-items-center">
      <!-- start col 1 section-->
      <div class="col-lg-12 col-xl-12 text-center">
        <h3 class="section-title">our services</h3>
        <p class="section-subtitle">what we do</p>
      </div>
      <!-- end col 1 section-->
      <!-- start col 2 section-->
      <div class="col-lg-12 col-xl-12">
        <div class="row">

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="icon-box-single icon-box-center">
              <div class="icon-box">
                <i class="icon ion-ios-home"></i>
              </div>
              <div class="icon-box-content">
                <h4 class="icon-box-title">ARQUITECTURE.</h4>
                <hr>
                <p>I still remember the time being alive. I cherish the moment that painted my heart. And all you are saying with.</p>
              </div>
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="icon-box-single icon-box-center">
              <div class="icon-box">
                <i class="icon ion-ios-compose"></i>
              </div>
              <div class="icon-box-content">
                <h4 class="icon-box-title">INTERIOR DESIGN.</h4>
                <hr>
                <p>I still remember the time being alive. I cherish the moment that painted my heart. And all you are saying with.</p>
              </div>
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="icon-box-single icon-box-center">
              <div class="icon-box">
                <i class="icon ion-ios-toggle"></i>
              </div>
              <div class="icon-box-content">
                <h4 class="icon-box-title">STRUCTURES.</h4>
                <hr>
                <p>I still remember the time being alive. I cherish the moment that painted my heart. And all you are saying with.</p>
              </div>
            </div>
          </div>
          <!-- end bordered icon box -->

        </div>
      </div>
      <!-- end col 2 section-->
    </div>
    <!-- end row section-->
  </div>
  <!-- end container section-->
</section>
<!-- end about section-->
