<section id="areas" class="section-main section-space section-tb-border"><!-- start container section-->
        <div class="container"><!-- start row section-->
          <div class="row align-items-center"><!-- start col 1 section-->
            <div class="col-lg-12 col-xl-12 text-center">
              <h3 class="section-title">Como te ayudamos a llegar más lejos</h3>
            </div><!-- end col 1 section--><!-- start col 2 section-->
            <div class="col-lg-12 col-xl-12">
              <div class="row"><!-- start bordered icon box -->
                <div class="col-lg-6 col-xl-4">
                  <div class="icon-box-single icon-box-center">
                    <div class="icon-box">
                      <img class="icon-box__img" src="img/028-promotion.svg" alt="">
                    </div>
                    <div class="icon-box-content">
                      <h4 class="icon-box-title">ATRAER</h4>
                      <hr>
                      <p>¿Llegas a la audiencia más calificada para tus servicios y productos? Utilizamos las mejores prácticas, canales y estrategias para dar a conocer sus productos y servicios.</p>
                    </div>
                  </div>
                </div><!-- end bordered icon box --><!-- start bordered icon box -->
                <div class="col-lg-6 col-xl-4">
                  <div class="icon-box-single icon-box-center">
                    <div class="icon-box">
                      <img class="icon-box__img" src="img/049-like.svg" alt="">
                    </div>
                    <div class="icon-box-content">
                      <h4 class="icon-box-title">INTERESAR</h4>
                      <hr>
                      <p>Este es el momento de llamar la atención de su audiencia, la forma en que transmite su mensaje es un factor importante para obtener nuevos clientes. Podemos hacer que su primera impresión la mejor.</p>
                    </div>
                  </div>
                </div><!-- end bordered icon box --><!-- start bordered icon box -->
                <div class="col-lg-6 col-xl-4">
                  <div class="icon-box-single icon-box-center">
                    <div class="icon-box">
                      <img  class="icon-box__img" src="img/004-target-1.svg" alt="">
                    </div>
                    <div class="icon-box-content">
                      <h4 class="icon-box-title">CONVERTIR</h4>
                      <hr>
                      <p>Para convertir a un visitante en un cliente es necesario llevar al visitante de la duda a la acción. Aquí es donde vemos el retorno de inversión de nuestros esfuerzos de marketing.</p>
                    </div>
                  </div>
                </div><!-- end bordered icon box --></div>
            </div><!-- end col 2 section--></div><!-- end row section--></div><!-- end container section--></section>
