
    <!-- start section-->
    <section class="bg-primary">
      <div class="container section-space">
        <!-- start row 1 section-->
        <div class="row align-items-center">
          <!-- start col 1 section-->
          <div class="col-md-1">
            <div class="text-center">
              <h3><i class="icon ion-ios-cart size-40"></i></h3>
            </div>
          </div>
          <!-- end col 1 section-->
          <!-- start col 1 section-->
          <div class="col-md-8">
            <div class="text-center">
              <h3>do you like our template? want to purchase it?</h3>
            </div>
          </div>
          <!-- end col 1 section-->
          <!-- start col 1 section-->
          <div class="col-md-3">
            <div class="text-center">
              <a href="#" class="mdl-button mdl-js-button mdl-button--raised btn-default btn-black">lest view portfolio</a>
            </div>
          </div>
          <!-- end col 1 section-->
        </div>
        <!-- start row 1 section-->
      </div>
    </section>
    <!-- end section-->
