<!-- start section-->
<section class="bg-secondary">
  <div class="container section-space">
    <!-- start row 1 section-->
    <div class="row">
      <!-- start col 1 section-->
      <div class="col-md-12">
        <div class="text-center">
          <h3>do you like our template?</h3>
        </div>
      </div>
      <!-- end col 1 section-->
      <!-- start col 1 section-->
      <div class="col-md-12">
        <div class="text-center">
          <a href="#" class="mdl-button mdl-js-button mdl-button--raised btn-default btn-primary">lest view portfolio</a>
        </div>
      </div>
      <!-- end col 1 section-->
    </div>
    <!-- start row 1 section-->
  </div>
</section>
<!-- end section-->
