<!-- start contact section-->
<section id="contact" class="section-main section-space">
  <!-- start container section-->
  <div class="container">
    <!-- start row section-->
    <div class="row align-items-center">
      <!-- start col 1 section-->
      <div class="col-lg-12 col-xl-12 text-center">
        <h3 class="section-title">your concern</h3>
        <p class="section-subtitle">we will resolve it</p>
      </div>
      <!-- end col 1 section-->
      <!-- start col 2 section-->
      <div class="col-lg-12 col-xl-12">
        <div class="row">

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-8">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputcity1" aria-describedby="cityHelp" placeholder="City">
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="form-group">
              <input type="date" class="form-control" id="exampleInputdate1" aria-describedby="dateHelp" placeholder="Date">
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputname1" aria-describedby="NameHelp" placeholder="Name">
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputphone1" aria-describedby="phoneHelp" placeholder="Phone">
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-12">
            <div class="form-group">
              <textarea class="form-control" id="exampleTextarea" placeholder="Message" rows="5"></textarea>
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-12">
            <div class="form-group text-center">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised btn-default btn-black">Submit</button>
            </div>
          </div>
          <!-- end bordered icon box -->

        </div>
      </div>
      <!-- end col 2 section-->
    </div>
    <!-- end row section-->
  </div>
  <!-- end container section-->
</section>
<!-- end contact section-->
