<!-- start contact section-->
<section id="contact" class="section-main section-space">
  <form class="" id="contactForm" action="index.html" method="post">
  <!-- start container section-->
  <div class="container">
    <!-- start row section-->
    <div class="row align-items-center">
      <!-- start col 1 section-->
      <div class="col-lg-12 col-xl-12 text-center">
        <h3 class="section-title">PONTE EN CONTACTO</h3>
      </div>
      <!-- end col 1 section-->
      <!-- start col 2 section-->
      <div class="col-lg-12 col-xl-8 offset-xl-2">
        <div class="row">

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" name="name" id="name" aria-describedby="NameHelp" required>
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="form-group">
              <label for="telephone">Teléfono</label>
              <input type="number" class="form-control" name="telephone"  id="telephone" aria-describedby="phoneHelp" required>
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-4">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-6">
            <div class="form-group">
              <label for="company">Compañia</label>
              <input type="text" class="form-control" name="company" id="company" aria-describedby="emailHelp" required>
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-6">
            <div class="form-group">
              <label for="state">Estado</label>
              <input type="text" class="form-control" name="state" id="state" aria-describedby="emailHelp" required>
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-12">
            <div class="form-group">
              <label for="message">Mensaje</label>
              <textarea class="form-control" name="message" id="message" rows="5" required></textarea>
            </div>
          </div>
          <!-- end bordered icon box -->

          <!-- start bordered icon box -->
          <div class="col-lg-6 col-xl-12">
            <div class="form-group text-center">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised btn-default btn-black">Enviar</button>
            </div>
          </div>
          <!-- end bordered icon box -->

        </div>
      </div>
      <!-- end col 2 section-->
    </div>
    <!-- end row section-->
  </div>
  <!-- end container section-->
  </form>
</section>
<!-- end contact section-->
