<!-- start main footer -->
<footer id="contact" class="main-footer bg-img-4">
  <div class="overlayer overlay-dark">
    <div class="container">

      <!-- start row 1 section-->
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8 ">
          <div class="contact section-space">
            <div class="row">
              <!-- start col 1 section-->
              <div class="col-sm-4 col-md-4">
                <div class=" item-contact">
                  <h4>call us</h4>
                  <p>+61 3 8376 6284</p>
                </div>
              </div>
              <!-- end col 1 section-->
              <!-- start col 2 section-->
              <div class="col-sm-4 col-md-4">
                <div class=" item-contact">
                  <h4>address</h4>
                  <p>245 Quigley Blvd, Ste K</p>
                </div>
              </div>
              <!-- end col 2 section-->
              <!-- start col 3 section-->
              <div class="col-sm-4 col-md-4">
                <div class=" item-contact">
                  <h4>Email</h4>
                  <p>support@bestlooker.pro</p>
                </div>
              </div>
              <!-- end col 3 section-->
            </div>
          </div>
        </div>

      </div>
      <!-- start row 1 section-->
      <!-- start row 2 section-->
      <div class="col-12 footer-version footer-text section-space-b">
        <p>© archit. <span>v 1.0.</span></p>
        <p>all Rights Reserved by <strong>iniciativa Theme</strong>.</p>
      </div>
      <!-- end row 2 section-->
    </div>
  </div>
</footer>
<!-- end main footer -->
