<!-- start main footer -->
<footer id="contact" class="main-footer bg-img-4">
  <div class="overlayer overlay-dark">
    <div class="container">

      <!-- start row 1 section-->
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8 ">
          <div class="contact section-space">
            <div class="row">
              <!-- start col 1 section-->
              <div class="col-sm-6 col-md-6">
                <div class=" item-contact">
                  <h4>Llamanos</h4>
                  <p>01 800 5439 3203</p>
                </div>
              </div>
              <!-- end col 1 section-->
              <!-- start col 3 section-->
              <div class="col-sm-6 col-md-6">
                <div class=" item-contact">
                  <h4>Escribenos</h4>
                  <p><a href="mailto:info@bowmanlabs.com">info@bowmanlabs.com</a></p>
                </div>
              </div>
              <!-- end col 3 section-->
            </div>
          </div>
        </div>

      </div>
      <!-- start row 1 section-->
      <!-- start row 2 section-->
      <div class="col-12 footer-version footer-text section-space-b">
        <p>© Bowman Labs. <span>2018</span></p>
        <p>Todos los derechos reservados.</p>
      </div>
      <!-- end row 2 section-->
    </div>
  </div>
</footer>
<!-- end main footer -->
