<!-- start site main header -->
<header class="main-header">
  <div class="container">
    <!-- start main nav -->
    <nav class="main-nav">
      <!-- start logo -->
      <div class="logo">
        <a href="index.html" class="logo-initial">
              <img class="logo-dark" src="img/logo/bowman-labs-logo.svg" alt="logo">
              <img class="logo-lite" src="img/logo/bowman-labs-logo.svg" alt="logo">
            </a>
        <a href="#" class="btn-menu" id="btn-menu"><i class="icono icon ion-navicon-round"></i></a>
      </div>
      <!-- end logo -->
      <!-- start links -->
      <div class="links-content">
        <ul class="links" id="links">
          <li><a class="page-scroll" href="#home">Inicio</a></li>
          <li><a class="page-scroll" href="#">Servicios</a>
            <ul class="subnav">
              <li><a href="index.html">SEO</a></li>
              <li><a href="page-home-02.html">Local SEO</a></li>
              <li><a href="page-about.html">Google Adwords</a></li>
              <li><a href="page-services.html">Sitios Web</a></li>
              <li><a href="page-project-detail.html">Paginas de Venta</a></li>
            </ul>
          </li>
          <li><a class="page-scroll" href="#contact">Contacto</a></li>
        </ul>
      </div>
      <!-- end links -->
    </nav>
    <!-- end main nav -->
  </div>
</header>
<!-- end site main header -->
