<!-- start site main header -->
<header class="main-header">
  <div class="container">
    <!-- start main nav -->
    <nav class="main-nav">
      <!-- start logo -->
      <div class="logo">
        <a href="index.html" class="logo-initial">
              <img class="logo-dark" src="img/logo/logo_dark.png" alt="logo">
              <img class="logo-lite" src="img/logo/logo_lite.png" alt="logo">
            </a>
        <a href="#" class="btn-menu" id="btn-menu"><i class="icono icon ion-navicon-round"></i></a>
      </div>
      <!-- end logo -->
      <!-- start links -->
      <div class="links-content">
        <ul class="links" id="links">
          <li><a class="page-scroll" href="#home">HOME</a></li>
          <li><a class="page-scroll" href="#why_choose">WHY CHOOSE</a></li>
          <li><a class="page-scroll" href="#about">ABOUT</a></li>
          <li><a class="page-scroll" href="#services">SERVICES</a></li>
          <li><a class="page-scroll" href="#portfolio">PORTFOLIO</a> </li>
          <li><a class="page-scroll" href="#">PAGE'S</a>
            <ul class="subnav">
              <li><a href="index.html">Page home 01</a></li>
              <li><a href="page-home-02.html">Page home 02</a></li>
              <li><a href="page-about.html">Page About</a></li>
              <li><a href="page-services.html">Page Services</a></li>
              <li><a href="page-project-detail.html">Page Project Detail</a></li>
              <li><a href="page-blog-detail.html">Page Single blog</a></li>
            </ul>
          </li>
          <li><a class="page-scroll" href="#contact">CONTACT US</a></li>
        </ul>
      </div>
      <!-- end links -->
    </nav>
    <!-- end main nav -->
  </div>
</header>
<!-- end site main header -->
