<!-- start revolution slider section-->
<section id="home" class="section-main">
  <div id="simon_revslider_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="web-product-light-hero66" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
    <div id="simon_revslider_2" class="rev_slider simon-revslider-2 fullwidthabanner" style="display:none;" data-action="simon_revslider" data-version="5.0.7">
      <ul>
        <!-- SLIDE 1 -->
        <li class="slider-color-schema-dark" data-index="rs-1" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Intro" data-description="">

          <!-- MAIN IMAGE -->
          <img src="http://placehold.it/1920x1080" alt="..." data-bgposition="center bottom" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
            data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-shape tp-shapewrapper overlay-dark-slider tp-resizeme rs-parallaxlevel-0" id="sl1-lyr1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
            data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:300;s:300;" data-start="1000" data-basealign="slide" data-responsive_offset="on"
            style="z-index:1;">
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption rev-subtitle-typo tp-resizeme rs-parallaxlevel-0" id="sl1-lyr2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-100']"
            data-fontsize="['30','30','24','24']" data-lineheight="['25','25','25','25']" data-width="['1140','640','600','360']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none"
            data-responsive_offset="on" style="z-index: 8; white-space: nowrap; text-align:left; font-weight:300;">
            LET’S BUILD A BETTER INTERNET TOGETHER.
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption rev-title-typo tp-resizeme color rs-parallaxlevel-0" id="sl1-lyr3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['5','5','0','0']" data-fontsize="['60','44','38','38']"
            data-lineheight="['60','44','38','38']" data-width="['1140','900','600','360']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; text-align: left; ">
            WE REALLY FEEL THE LOVE OVER <br/>3 MILLON SATISFIED CUSTOMERS
          </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption rev-subtitle-typo tp-resizeme rs-parallaxlevel-0" id="sl1-lyr4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['100','100','100','100']"
            data-fontsize="['20','20','20','20']" data-lineheight="['25','25','25','25']" data-width="['1140','640','600','360']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none"
            data-responsive_offset="on" style="z-index: 8; white-space: nowrap; text-align:left; font-weight:300;">
            AT 250,000 COMPANIES WORLDWIDE.
          </div>

        </li>
      </ul>
    </div>
  <!-- END REVOLUTION SLIDER -->
  </div>
</section>
<!-- end revolution slider section-->
