<!-- start phrase section-->
<section id="phrase" class="bg-img-2">
  <div class="container">
    <div class="row justify-content-end">
      <!-- start col 1 section-->
      <div class="col-md-8 col-lg-6 col-xl-5 align-self-end">
        <div class="overlayer overlay-dark section-space">
          <div class="section-space-all">
            <hr class="left">
            <h3 class="text-important m-0 color-white">Keynote is a presentation software application developed as a part of the iWork productivity suite by Apple Inc.</h3>
          </div>
        </div>
      </div>
      <!-- end col 1 section-->
    </div>
  </div>
</section>
<!-- end phrase section-->
