<!-- start services section-->
<section id="services" class="section-main bg-img-1">
  <div class="overlayer overlay-dark">
    <!-- start container section-->
    <div class="container section-space">
      <!-- start row section-->
      <div class="row align-items-center">
        <!-- start col 1 section-->
        <div class="col-lg-12 col-xl-12 text-center">
          <h3 class="section-title">other services we offer</h3>
          <p class="section-subtitle">what we do</p>
        </div>
        <!-- end col 1 section-->
      </div>

      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <!-- start row section-->
        <div class="row align-items-center">

          <!-- start col 1 section-->
          <div class="col-lg-12 col-xl-6">
            <!-- start menu-tabs section-->
            <div class=" row mdl-tabs__tab-bar tabs-grid">
              <a href="#one-panel" class="mdl-tabs__tab tabs-icon-grid col-md-6 col-lg-6 col-xl-6 is-active">
                <i class="icon ion-ios-home size-40"></i>
                <h5>workspaces</h5>
                <hr>
              </a>
              <a href="#two-panel" class="mdl-tabs__tab tabs-icon-grid col-md-6 col-lg-6 col-xl-6">
                <i class="icon ion-paintbrush size-40"></i>
                <h5>home decor</h5>
                <hr>
              </a>
              <a href="#third-panel" class="mdl-tabs__tab tabs-icon-grid col-md-6 col-lg-6 col-xl-6">
                <i class="icon ion-compose size-40"></i>
              <h5>swimming pool</h5>
              <hr>
            </a>
              <a href="#four-panel" class="mdl-tabs__tab tabs-icon-grid col-md-6 col-lg-6 col-xl-6">
                <i class="icon ion-social-buffer size-40"></i>
              <h5>3d modeling</h5>
              <hr>
            </a>
            </div>
            <!-- end menu-tabs section-->
          </div>
          <!-- end col 1 section-->
          <!-- start col 2 section-->
          <div class="col-lg-12 col-xl-6">
            <div class="row">

              <!-- start panel-tabs 1 section-->
              <div class="mdl-tabs__panel panel-single dark is-active" id="one-panel">
                <div class="row justify-content-md-center">
                  <div class="col-12 section-space-v text-center">
                    <i class="icon ion-ios-home color size-60"></i>
                    <h3>workspaces</h3>
                    <hr>
                    <p>Web services via user-centric initiatives. Quickly promote sticky testing procedures before unique process improvements. Distinctively engineer innovative information whereas revolutionary process improvements.</p>
                    <p>Objectively incubate high-quality supply chains through high-quality results. Monotonectally restore ubiquitous customer service rather than brincks-and clicks scenarios. Quickly promote sticky testing.</p>
                  </div>
                </div>
              </div>
              <!-- end panel-tabs 1 section-->
              <!-- start panel-tabs 2 section-->
              <div class="mdl-tabs__panel panel-single dark" id="two-panel">
                <div class="row justify-content-md-center">
                  <div class="col-12 section-space-v text-center">
                    <i class="icon ion-paintbrush color size-60"></i>
                    <h3>home decor</h3>
                    <hr>
                    <p>Web services via user-centric initiatives. Quickly promote sticky testing procedures before unique process improvements. Distinctively engineer innovative information whereas revolutionary process improvements.</p>
                    <p>Objectively incubate high-quality supply chains through high-quality results. Monotonectally restore ubiquitous customer service rather than brincks-and clicks scenarios. Quickly promote sticky testing.</p>
                  </div>
                </div>
              </div>
              <!-- end panel-tabs 2 section-->
              <!-- start panel-tabs 3 section-->
              <div class="mdl-tabs__panel panel-single dark" id="third-panel">
                <div class="row justify-content-md-center">
                  <div class="col-12 section-space-v text-center">
                    <i class="icon ion-compose color size-60"></i>
                    <h3>swimming pool</h3>
                    <hr>
                    <p>Web services via user-centric initiatives. Quickly promote sticky testing procedures before unique process improvements. Distinctively engineer innovative information whereas revolutionary process improvements.</p>
                    <p>Objectively incubate high-quality supply chains through high-quality results. Monotonectally restore ubiquitous customer service rather than brincks-and clicks scenarios. Quickly promote sticky testing.</p>
                  </div>
                </div>
              </div>
              <!-- end panel-tabs 3 section-->
              <!-- start panel-tabs 4 section-->
              <div class="mdl-tabs__panel panel-single dark" id="four-panel">
                <div class="row justify-content-md-center">
                  <div class="col-12 section-space-v text-center">
                    <i class="icon ion-social-buffer color size-60"></i>
                    <h3>3d modeling</h3>
                    <hr>
                    <p>Web services via user-centric initiatives. Quickly promote sticky testing procedures before unique process improvements. Distinctively engineer innovative information whereas revolutionary process improvements.</p>
                    <p>Objectively incubate high-quality supply chains through high-quality results. Monotonectally restore ubiquitous customer service rather than brincks-and clicks scenarios. Quickly promote sticky testing.</p>
                  </div>
                </div>
              </div>
              <!-- end panel-tabs 4 section-->

            </div>
          </div>
          <!-- end col 2 section-->
        </div>
        <!-- end row section-->
      </div>
      <!-- end row section-->
    </div>
    <!-- end container section-->
  </div>
</section>
<!-- end services section-->
