<section  class="bg-secondary">
  <div class="container section-space">
    <!-- start row 1 section-->
    <div class="row">
      <!-- start col 1 section-->
      <div class="col-md-12"  id="services">
        <div class="text-center">
          <h3 class="section-title">Nuestros servicios</h3>
        </div>
      </div>
      <!-- end col 1 section-->
    </div>
    <!-- start row 1 section-->
    <div class="row service__row">
      <div class="col-md-6 col-lg-3">
        <div class="service">
          <img src="img/018-search-1.svg" alt="" class="service__icon">
          <h4 class="service__title">Posicionamiento Web</h4>
          <p class="service__copy">Te ofrecemos campañas de posicionamiento web efectivas con las que tendrás un tráfico constante de clientes.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service">
          <img src="img/032-pay-per-click.svg" alt="" class="service__icon">
          <h4 class="service__title">Google Adwords</h4>
          <p class="service__copy">Administramos Campañas de Google Adwords para darte la ventaja competitiva que necesitas en tu mercado.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service">
          <img src="img/042-web.svg" alt="" class="service__icon">
          <h4 class="service__title">Sitios <br>Web</h4>
          <p class="service__copy">Diseñamos y desarrollamos tu sitio web desde cero para darte la calidad que tu empresa merece.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service">
          <img src="img/024-trophy.svg" alt="" class="service__icon">
          <h4 class="service__title">Optimizar Conversiones</h4>
          <p class="service__copy">Tu sitio actual puede dar mucho mejores resultados con nuestro servicio de optimización de conversiones.</p>
        </div>
      </div>
    </div>
  </div>
</section>
