<!-- start why_choose section-->
<section id="why_choose" class="section-main">
  <!-- start container section-->
  <div class="container section-space">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <!-- start row section-->
      <div class="row align-items-center">

        <!-- start col 1 section-->
        <div class="col-lg-12 col-xl-6  section-space-v">
          <!-- start menu-tabs section-->
          <div class="mdl-tabs__tab-bar">
            <a href="#mission-panel" class="mdl-tabs__tab tabs-single ">we first</a>
            <a href="#vision-panel" class="mdl-tabs__tab tabs-single">be the future</a>
            <a href="#ideas-panel" class="mdl-tabs__tab tabs-single is-active">we are the future</a>
          </div>
          <!-- end menu-tabs section-->
        </div>
        <!-- end col 1 section-->
        <!-- start col 2 section-->
        <div class="col-lg-12 col-xl-6">
          <div class="row">

            <!-- start panel-tabs 1 section-->
            <div class="mdl-tabs__panel panel-single " id="mission-panel">
              <div class="row justify-content-md-center">
                <div class="col-12 section-space-v">
                  <h3 class="section-title">we first</h3>
                  <hr class="left">
                  <p>Web services via user-centric initiatives. Quickly promote sticky testing procedures before unique process improvements. Distinctively engineer innovative information whereas revolutionary process improvements.</p>
                  <p>Objectively incubate high-quality supply chains through high-quality results. Monotonectally restore ubiquitous customer service rather than brincks-and clicks scenarios. Quickly promote sticky testing.</p>
                </div>
              </div>
            </div>
            <!-- end panel-tabs 1 section-->
            <!-- start panel-tabs 2 section-->
            <div class="mdl-tabs__panel panel-single" id="vision-panel">
              <div class="row justify-content-md-center">
                <div class="col-12 section-space-v">
                  <h3 class="section-title">be the future</h3>
                  <hr class="left">
                  <p>Web services via user-centric initiatives. Quickly promote sticky testing procedures before unique process improvements. Distinctively engineer innovative information whereas revolutionary process improvements.</p>
                  <p>Objectively incubate high-quality supply chains through high-quality results. Monotonectally restore ubiquitous customer service rather than brincks-and clicks scenarios. Quickly promote sticky testing.</p>
                </div>
              </div>
            </div>
            <!-- end panel-tabs 2 section-->
            <!-- start panel-tabs 3 section-->
            <div class="mdl-tabs__panel panel-single is-active" id="ideas-panel">
              <div class="row justify-content-md-center">
                <div class="col-12 section-space-v">
                  <h3 class="section-title">we are the future</h3>
                  <hr class="left">
                  <p>Web services via user-centric initiatives. Quickly promote sticky testing procedures before unique process improvements. Distinctively engineer innovative information whereas revolutionary process improvements.</p>
                  <p>Objectively incubate high-quality supply chains through high-quality results. Monotonectally restore ubiquitous customer service rather than brincks-and clicks scenarios. Quickly promote sticky testing.</p>
                </div>
              </div>
            </div>
            <!-- end panel-tabs 3 section-->

          </div>
        </div>
        <!-- end col 2 section-->
      </div>
      <!-- end row section-->
    </div>
  </div>
  <!-- end container section-->
</section>
<!-- end why_choose section-->
