<extends src='layout.html'>
  <block name='content'>
    <include src='partials/why-choose.html'></include>
    <include src='partials/phrase.html'></include>
    <include src='partials/about.html'></include>
    <include src='partials/skills.html'></include>
    <include src='partials/phrase2.html'></include>
    <include src='partials/call-action.html'></include>
    <include src='partials/about2.html'></include>
    <include src='partials/services.html'></include>
    <include src='partials/contact.html'></include>
    <include src='partials/call-action2.html'></include>
  </block>
</extends>
