<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="architecture no-js">
<!--<![endif]-->

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='description' content=''>
  <meta name='author' content='kaleblv'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <block name='title'>
    <title>BowmanLabs</title>
  </block>
  <link rel='stylesheet' href='css/index.css'>
</head>

<body>
  <!--<include src='partials/preloader.html'></include>-->
  <include src='partials/header.html'></include>
  <main id='{{ pageId }}' clas='main-wrapper'>
    <block name='content'></block>
  </main>
  <include src='partials/footer.html'></include>
  <block name='javascript'>
    <script src='js/main.js' defer></script>
  </block>
</body>

</html>
